<div class="loading-article" *ngIf="articles.length == 0 && errorType == -1">
  <img class="loading-article-icon" src="assets/images/loading.gif" width="80px" alt="Cargando" />
  <p class="loading-article-text">Consultando artículos...</p>
</div>

<div class="error-article" *ngIf="errorType == 0">
  <i class="error-article-icon bi-wifi-off"></i>
  <p class="error-article-text">No hay conexión con la base de datos.<br /><b>¡Inténtalo en unos minutos!</b></p>
</div>

<div class="error-article" *ngIf="errorType == 1">
  <i class="error-article-icon bi-emoji-dizzy-fill"></i>
  <p class="error-article-text">No hay artículos para mostrar.<br /><b>¡Sé el primero en redactar uno!</b></p>
</div>

<div class="error-article" *ngIf="errorType == 2">
  <i class="error-article-icon bi-emoji-dizzy-fill"></i>
  <p class="error-article-text">
    No hay artículos que coincidan con tu búsqueda.<br /><b>¡Anímate y redacta un artículo al respecto!</b>
  </p>
</div>

<div *ngIf="articles.length > 0">
  <article class="article_item" *ngFor="let article of articles">
    <div class="image_wrap">
      <img src="{{ baseURL + 'article_img/' + article.image }}" alt="{{ article.title }}" *ngIf="article.image != ''" />
      <img src="assets/images/default.jpg" alt="{{ article.title }}" *ngIf="article.image == ''" />
    </div>
    <div class="article_text">
      <h2>{{ article.title }}</h2>
      <span class="date">{{ article.date | amLocale: "es" | amTimeAgo }}</span>
      <a [routerLink]="['/blog/article', article._id]">Leer más &raquo;</a>
    </div>
  </article>
</div>
