<app-slider [sliderTitle]="pageSliderText"></app-slider>

<div class="content_div">
  <section id="articles">
    <h1>Página de Pruebas</h1>
    <div *ngIf="currentName && currentSurname; then hasNames; else noNames"></div>

    <ng-template #hasNames>
      <p>
        El nombre es: <b>{{ currentName }}</b>
      </p>
      <p>
        El apellido es: <b>{{ currentSurname }}</b>
      </p>
    </ng-template>

    <ng-template #noNames>
      <p>No hay nombres generados</p>
    </ng-template>

    <button (click)="redirection()">¡Genera un nombre!</button>
  </section>

  <app-sidebar id="sidebar"></app-sidebar>
</div>
