<div class="content_div">
  <section id="form">
    <h1 class="form_title">Crear Artículo</h1>

    <form class="mid_form" #articleForm="ngForm" (ngSubmit)="submitArticle()">
      <div class="form_group">
        <label for="title">Título</label>
        <input
          type="text"
          name="title"
          #title="ngModel"
          [(ngModel)]="articleToCreate.title"
          required
          pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1][a-zA-ZÀ-ÿ\u00f1\u00d1\s]*$"
        />
        <small *ngIf="!title.valid && title.touched">¡El título ingresado no es válido!</small>
      </div>

      <div class="form_group">
        <label for="content">Contenido</label>
        <textarea name="content" #content="ngModel" [(ngModel)]="articleToCreate.content" required></textarea>
        <small *ngIf="!content.valid && content.touched">¡El contenido ingresado no es válido!</small>
      </div>

      <div class="form_group">
        <label for="image">Imagen</label>
        <div class="image_input"><input type="file" name="image" /></div>
      </div>

      <input
        type="submit"
        value="Crear Artículo"
        class="btn"
        [ngClass]="articleForm.valid ? 'btn_success' : 'btn_disabled'"
        [disabled]="articleForm.invalid"
      />
    </form>
  </section>

  <app-sidebar id="sidebar"></app-sidebar>
</div>
