<app-slider [sliderTitle]="movieSliderText" [size]="sliderSize"></app-slider>

<div class="content_div">
  <section id="articles">
    <!-- <h2>Películas</h2>
    <h3>{{ title }}</h3>
    <button (click)="changeTitle()">Pulsame</button>
    <hr />

    <h2>Mostrar primera película</h2>
    {{ movies[0].title }}

    <hr />

    <h2>Numero de películas</h2>
    <div *ngIf="movies.length <= 3">Hay pocas películas</div>

    <div *ngIf="movies.length > 3">Hay muchas películas:</div>
    {{ movies.length }}

    <hr /> -->
    <div id="favoriteMovie" *ngIf="favoriteMovie">
      <h2>Pelicula Favorita</h2>
      <p>{{ favoriteMovie.title | lowercase }}</p>
      <p>{{ favoriteMovie.year | isEven }}</p>
      <p>{{ someDate | date: "dd/MM/yyyy" }}</p>
    </div>

    <h2>Listado de Peliculas</h2>
    <section *ngIf="movies && movies.length > 0">
      <div *ngFor="let movie of movies; let i = index">
        <app-movie-item [movie]="movie" (selectFavorite)="showFavorite($event)"></app-movie-item>
      </div>
    </section>
  </section>

  <app-sidebar id="sidebar"></app-sidebar>
</div>
