<div id="nav_blog" class="sidebar_item">
  <h3>Escribe tu artículo</h3>
  <p>¡Muéstranos lo que te apasiona!</p>
  <a [routerLink]="['/article/create']" class="btn btn_success">Crear Artículo</a>
</div>
<div id="search" class="sidebar_item">
  <h3>Buscador</h3>
  <p>¡Busca tu artículo favorito!</p>
  <form #searchForm="ngForm" (ngSubmit)="searchArticle()">
    <input type="text" name="search_input" [(ngModel)]="searchString" />
    <input type="submit" name="search_submit" value="Buscar" class="btn btn_info" />
  </form>
</div>
